body  {
	width: 320px;
	background-color: #1bbc9b;
	color: rgba(255, 255, 255, .8);
	font-family: Arial, "Microsoft YaHei";
	text-align: center;
}

#tip{
	padding: 8px 14px;
	margin: 10px;
	border: 1px solid rgba(255, 255, 255, .3);
	border-radius: 6px;
	line-height: 24px;
	font-size: 14px;
}

.input-group {
	float: left;
	padding: 5px;
	margin-top: 4px;
	width: 70px;
}

.input-tip {
	margin-bottom: 6px;
	font-size: 14px;
	transition: transform .8s;
	-webkit-transition: -webkit-transform .8s;
}

.input-tip:hover {
	transform: rotateY(-720deg);
	-webkit-transform: rotateY(-720deg);
}

input {
	width: 100%;
	height: 24px;
	margin-bottom: 16px;
	text-align: center;
	background: #17AD8E;
	border: none;
	border-radius: 2px;
	color: rgba(255, 255, 255, .65);
}

input:focus,
textarea:focus {
	outline-color: #0FAA89;
}

.main-tip,
.comment-tip {
	font-style: italic;
}

.comment-tip {
	margin-bottom: 10px;
}

textarea {
	width:100%;
	height: 40px;
	padding: 5px 8px;
	box-sizing: border-box;
	background: #17AD8E;
	border: none;
	border-radius: 2px;
	color: rgba(255, 255, 255, .65);
	font-family: Arial, "Microsoft YaHei";
	resize: none;
}

#go {
	position: relative;
	display: block;
	width: 100%;
	height: 34px;
	margin-top: 10px;
	line-height: 34px;
	background-color: #12A081;
	border-radius: 2px;
	color: rgba(255, 255, 255, .5);
	transition: background .4s;
	-webkit-transition: background .4s;
	cursor: pointer;
}

#go:hover {
	background-color: #0D9576;
}

#go:hover > .pikachuu {
	transform: translate3d(115px,0,0);
	-webkit-transform: translate3d(115px,0,0);
}

.pikachuu {
	position: absolute;
	margin-left: -35px;
	transition: transform 1s;
	-webkit-transition: -webkit-transform 1s;
}

#title {
	margin-top: 10px;
	color: rgba(255, 255, 255, .5);
}

#title a {
	color: rgba(255, 255, 255, .7);
}

@keyframes move {
	0%   {transform: translate3d(0,0,0);}
	35%	 {transform: translate3d(-80px,380px,0);}
	65%  {transform: translate3d(80px,380px,0);}
}

@-webkit-keyframes move {
	0%   {-webkit-transform: translate3d(0,0,0);}
	35%	 {-webkit-transform: translate3d(-80px,380px,0);}
	65%  {-webkit-transform: translate3d(80px,380px,0);}
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 0;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: rgba(255,255,255,.35);
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
}
